<div class="container">
    <h2>Agregar Tweet v2.0</h2>
    <form>
        <div class="form-group">
            <label class="col-form-label">Tweet:</label>
            <textarea [(ngModel)]="tweetData.text" name="tweetData.text" maxlength="265" ng-trim="false" class="form-control" rows="7"></textarea>
            <small id="emailHelp" class="form-text text-muted">{{265 - tweetData.text.length}} restantes</small>
        </div>

        <div class="form-group">
            <label class="col-form-label">Fecha:</label>
            <input [(ngModel)]="tweetData.date" name="tweetData.date" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="col-form-label">Prioridad:</label>
            <select [(ngModel)]="tweetData.priority" name="tweetData.priority" class="form-control">

                <option [value]="priority" *ngFor="let priority of priorities">{{priority}}</option>
            </select>

        </div>

        <div class="form-group">
            <label class="col-form-label">Imágenes:</label>
            <input type="file" id="imagenes" (change)="handleMultipleFileInput($event.target.files)" multiple>

            <div class="animate-show-hide" *ngIf="someError">
                <div class="alert alert-danger"  role="alert">
                  {{ errorMessage }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <button (click)="addTweet()" class="custom-file-input" type="button" class="btn btn-primary btn-lg btn-block" [disabled]="someError">Guardar Tweet</button>
        </div>
    </form>
</div>
