<div class="container">
  <form class="md-form mr-auto my-4">
    <h3>Buscar Tweets por fecha</h3>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <input class="form-control mr-sm-2" [(ngModel)]="searchData.date" name="searchData.date" type="text" placeholder="Formato: MMdd" aria-label="Search">
        </div>
        <div class="col-3">
          <button (click)="searchTweetByDate()" class="btn btn-primary btn-md" type="submit">Buscar</button>
        </div>
      </div>
    </div> 
</form>

<div class="alert alert-warning" role="alert" *ngIf="hasNoRecordsFound">
  No existen resultados para la búsqueda
</div>

<div class="animate-show-hide" *ngIf="someError">
  <div class="alert alert-danger"  role="alert">
    {{ errorMessage }}
  </div>
</div>

</div>
