<!-- Mostrar el gif de cargando mientras se buscan las imágenes-->
<div *ngIf="!areImagesLoaded"> 
  <img class="img-fluid" src="assets/img/loading.gif"/>
</div>

<!-- Mostrar el carrusel cuando se hayan cargado las imágenes -->
<ngb-carousel data-interval="false" *ngIf="areImagesLoaded"> 
  <div *ngFor="let image of images; index as i">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="image" class="custom-image">
      </div>
      <div class="carousel-caption">
        <h3>Imagen {{i+1}} <img class="ml-4" (click)="updateImage(i)" src="assets/img/pencil.png"/></h3>
      </div>
    </ng-template>
  </div>
  
</ngb-carousel>

<!-- Mostrar el icono para cargar imágenes si es que hay menos de cuatro en el registro -->
<div class="d-flex justify-content-center" *ngIf="areImagesLoaded && images?.length < 4">
  <img class="m-2 d-block" (click)="addImage()" src="assets/img/add-image.png" />
</div>
