<!-- Mostrar el gif de cargando mientras se buscan las imágenes-->
<div *ngIf="!areImagesLoaded || (images.length != imagesSizes.length)"> 
  <img class="img-fluid" src="assets/img/loading.gif"/>
</div>

<!-- Mostrar el carrusel cuando se hayan cargado las imágenes y los tamaños de estas también -->
<ngb-carousel data-interval="false" *ngIf="areImagesLoaded && (images.length == imagesSizes.length)"> 
  <div *ngFor="let image of images; index as i">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="image" class="custom-image">
      </div>
      <div class="carousel-caption">
        <p class="text-warning bg-dark font-weight-lighter h6">Imagen {{i+1}} ({{imagesSizes[i].width}} x {{imagesSizes[i].height}})<img class="m-2" (click)="updateImage(i)" src="assets/img/pencil.png"/></p>
      </div>
    </ng-template>
  </div>
  
</ngb-carousel>

<!-- Mostrar el icono para cargar imágenes si es que hay menos de cuatro en el registro -->
<div class="d-flex justify-content-center" *ngIf="areImagesLoaded && images?.length < 4">
  <img class="m-2 d-block" (click)="addImage()" src="assets/img/add-image.png" />
</div>
