<div class="container">
  <form class="md-form mr-auto my-4">
    <h3>Buscar Tweets por texto</h3>
    <div class="container">
      <div class="row">
        <div class="col-9">
          <input class="form-control" [(ngModel)]="searchData.text" name="searchData.text" type="text" placeholder="Write some words" aria-label="Search">
        </div>
        <div class="col-3">  
          <button (click)="searchTweetByText()" class="btn btn-primary btn-md" type="submit">Buscar</button>
        </div>
      </div>
    </div>    
</form>
<div class="alert alert-warning" role="alert" *ngIf="hasNoRecordsFound">
  No existen resultados para la búsqueda
</div>

<div class="animate-show-hide" *ngIf="someError">
  <div class="alert alert-danger"  role="alert">
    {{ errorMessage }}
  </div>
</div>
</div>
