<div class="container">
    <b>Actualizar Tweet {{tweetData.id}}</b>
    <form>
        <div class="form-group">
            <label class="col-form-label">Tweet:</label>
            <textarea [(ngModel)]="tweetData.tweet" name="tweetData.tweet" maxlength="265" ng-trim="false" class="form-control" rows="8" (ngModelChange)=avoidDuplicates()></textarea>
            <small id="emailHelp" class="form-text text-muted">{{265 - tweetData.tweet.length}} restantes</small>
        </div>

        <div class="alert alert-warning" role="alert" *ngIf="repeatedWords.length > 0">
            Palabras repetidas: {{repeatedWords}}
          </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Fecha:</label>
                </div>
                <div class="col">
                    <input [(ngModel)]="tweetData.eventDate" name="tweetData.eventDate" class="form-control"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label class="col-form-label">Prioridad:</label>
                </div>
                <div class="col">
                    <select [(ngModel)]="tweetData.priority" name="tweetData.priority" class="form-control">
                        <option [value]="priority" *ngFor="let priority of priorities">{{priority}}</option>
                    </select> 
                </div>
            </div>
        </div> 

        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="someError">
            Ha ocurrido un error: {{ errorMessage }}
            <button (click)="hideAlert('error')" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
            Registro {{tweetData.id}} exitosamente actualizado
            <button (click)="hideAlert('success')" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                    <button (click)="updateTweet()" class="btn btn-primary btn-sm btn-block">Actualizar</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <button class="btn btn-primary btn-sm btn-block"(click)="close()">Cerrar</button>
                </div>
              </div>
            </div>
        </div>
    </form>
</div>
