<div class="container">
  <h3>Resultado Búsqueda</h3>
  <p>Cantidad de registros: {{ tweetsLength }}</p>
<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" width="25%">Datos</th>
      <th scope="col" width="75%">Texto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tweet of tweets; index as i">
      <td>
        
        ID: {{ tweet.id }}<br/>
        Prioridad: {{ tweet.priority }}<br/>
        Fecha: {{ tweet.eventdate.substring(0,10) | date:'yyyy/MM/dd' }}<br/>
      </td>
      <td>
        <p>{{ tweet.tweet }}</p>
        <div class="alert alert-warning" role="alert" *ngIf="repeatedWords[i].length > 0">
          Palabras repetidas: {{repeatedWords[i]}}
        </div> 
        <p>
          <img class="ml-4" (click)="updateTweet(i)" src="assets/img/pencil.png"/>
          <img class="ml-4" (click)="deleteTweet(i)" src="assets/img/delete.png"/>
          <img class="ml-4" (click)="showGallery(i)" src="assets/img/images.png"/>
          <img class="ml-4" (click)="cloneTweet(i)" src="assets/img/clone.png"/>
        </p>
      </td>
  </tr>
  </tbody>
  </table>
  </div>

</div>
